<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    </head>
    <body>
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>

    <script>
// Data retrieved from https://gs.statcounter.com/vendor-market-share/mobile/
Highcharts.chart('container', {
    chart: {
        styledMode: true
    },
    title: {
        text: 'Posts by tag'
    },
    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    series: [{
        type: 'pie',
        allowPointSelect: true,
        keys: ['name', 'y', 'selected', 'sliced'],
        data: [
            ['Python', 28, false],
            ['Network', 3, false],
            ['Hacking', 3, false],

        ],
        showInLegend: true
    }]
});

        </script>
    
    </body>
</html>