
#font{
    font-style:italic;
}

#bg {
    background-color: yellow;
}

.size{
    font-size: 50px;
}

.color{
    color: aqua;
}

header{
    color: pink;
}

p{
    color: black
}

.pcolor{
    color:blueviolet
}

table{
    color:rgb(1, 254, 191);
    background: rgb(201, 100, 214);
    border: 2;
    
}

tr{
    text-align: center;
    height: 50;
}

td{
    width: 25%;
}